body {
  background-color: #edefee;
  font-family: "Markazi text", serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  width: 70%;
  display: block;
  margin: 20px auto;
}

nav ul {
  list-style: none;
  text-align: center;
  /* background-color: #f4ce14; */
  background-color: #495e57;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
  font-size: 1.5rem;
}

nav li a {
  text-decoration-line: none;
  color: #edefee;
}

section {
  display: flex;
}

article {
  flex: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer div {
  flex: 1;
}

footer img {
  width: 8%;
}
footer p {
  text-align: right;
  margin: 0;
}

.promotion {
  background-image: url(./images/restaurant5.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.info-section {
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.info-article {
  background-color: #fff7e7;
  /* border: 1px solid black; */
  color: #333333;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}

article img {
  width: 100%;
  height: 33%;
}

.opening-hours {
  margin: 0;
  text-align: center;
}
